@import '../css/normalize.css';

*{
    box-sizing: border-box;
}
// ----- Mixins ---- //

@mixin cards {
    .wrapper_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-item{
            width: 33.33%;
            box-shadow: 0 0 24px rgba(64, 199, 255, 0.32);
            background-color: #ffffff;
            &:not(:last-child){
                margin-right: 30px;
            }
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_icon{
                padding-top: 50px;
                padding-bottom: 30px;
            }
            &_title{
                color: #f26522;
                font-size: 24px;
                font-weight: 700;
                line-height: 26px;
                width: 70%;
                margin-bottom: 20px;
                text-align: center;
            }
            &_subtitle{
                padding: 0px 25px 50px;
                color: #898989;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        .wrapper_cards{
            flex-direction: column;
            &-item{
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }    
}
@mixin form__input_and_button {
    .form{ 
        background-color: #ffffff;   
        width: 60%;
        border: 20px solid #7a3412;
        display: flex;
        margin-bottom: 320px;
        z-index: 5;
        &_input{
            flex-grow: 2;
            input{
                border: none;
                margin: 0;
                width: 100%;
                padding: 25px 20px;
                flex-grow: 1;
                ::placeholder{
                    color: #bdbdbd;
                }
            }
        }
        &_button{
            flex-shrink: 1;
            button{
                width: 100%;
                z-index: 10;
                border: none;
                color: #ffffff;
                margin: 0;
                padding: 25px 20px ;
                font-size: 18px;
                font-weight: 700;
                background-color: #f26522;
            }
        }
    } 
    @media (max-width: $screen-sm-max) {
        .form{
            border: 10px solid #7a3412;
            flex-direction: column;
            margin-bottom: 100px;
            &_input,
            &_button {
                input{
                    padding: 10px 5px;
                }
                button{
                    padding: 10px 5px;
                }
            }
        }
    }   
}

// ----- /Mixins ---- //

// ----- Variable ---- //
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// ----- /Variable ---- //

 
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section-outer{
    padding-left: 20px;
    padding-right: 20px;
}

.section-inner{
    max-width: 1235px;
    margin: 0 auto;
}

// ----- Navbar ----- //
.section-navbar{
    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            padding: 0;
            margin: 0;
            width: 40%;
            img{
                width: 100%;
            }
        }
        &_menu {
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            list-style: none;             
                li {
                    & + li{
                        margin-left: 30px;
                        text-align: center;
                    }
                    a {
                        width: 100%;
                        text-decoration: none;
                        font-size: 25px;
                        color: #333333;
                    }
                }            
        }
    }
    @media (max-width: $screen-sm-max) {
        &_wrapper{
            flex-direction: column;
            &_logo {
                width: 100%;
            }
            &_menu {
                justify-content: space-between;
                width: 100%;
                li{
                    a{
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }

    }
        
}
// ----- /Navbar ----- //

// ----- Header ----- //
.section-header{
    color: #ffffff;
    background: url('/img/header_left_bottom.png') no-repeat left bottom/40%, url('/img/header_right_bottom.png') no-repeat right bottom/40%, url('/img/header_bground.png');
    margin-bottom: 100px;
    &-wrapper{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title{
            font-size: 50px;
            line-height: 60px;
            font-weight: 700;
            padding-top: 260px;
            margin-bottom: 30px;
        }
        &_subtitle{
            width: 40%;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 50px;
        }
        @include form__input_and_button()
    }
    @media (max-width: $screen-sm-max) {
        &-wrapper{
            &_title{
                padding-top: 100px;
                text-align: center;
            }
            &_subtitle{
                width: 100%;
            }

        }
        
    }
    
}
// ----- /Header ----- //

// ----- Features ----- //
.section-features{
    &_title{
        font-size: 40px;
        font-weight: 700;
        line-height: 28px;
        color: #333333;
        background: url('/img/future_subtitle_bottom.png') no-repeat bottom;
        text-align: center;
        padding-bottom: 27px;
        margin-bottom: 70px;
    }
    @include cards()
    
   
}
// ----- /Features ----- //

// ----- Steps ----- //
.section-steps{
    padding-top: 100px;
    background-color: #f6f6f6;
    margin-bottom: 100px;
    &_title{
        font-size: 40px;
        font-weight: 700;
        line-height: 28px;
        color: #333333;
        text-align: center;
        padding-bottom: 37px;
        background: url('/img/future_subtitle_bottom.png') bottom no-repeat;
        margin-bottom: 50px;
    }
    @include cards();
    &_bottomImages{
        :not(:nth-child(2)){
            img{
                position: relative;
                bottom: 100px;               
            }
        }
        display: flex;
        align-items: flex-end;
        &_left,
        &_center,
        &_right {
            img{
                max-width: 100%;
                display: block;
                height: auto;
                flex-shrink: 1;
                &:nth-child(2) {
                    flex-grow: 2;
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        .section-steps{
            &_bottomImages{
                flex-direction: column;
                &_left,
                &_right {
                    display: none;
                }
                &center{
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
        }
    }
    @media (max-width: $screen-md-max) {
        
    }
    
}
// ----- /Steps ----- //

// ----- Colums ----- //
.section-colums{
    margin-bottom: 340px;
    &_wraper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &_colum{
            &:not(:last-child){
                margin-right: 9px;
            }
            display: flex;
            flex-direction: column;
            flex: 0 1 33.333%;
            color: #ffffff;
            box-shadow: 0 0 24px rgba(64, 199, 255, 0.32);
            background-color: #f26522;
            &_title{
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;
                padding: 25px 20px;
            }
            &_content {
                display: flex;
                flex-direction: column;
                &_text{
                    border-top: 1px solid #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    height: 80px;
                    line-height: 23px;
                    padding: 28px;
                }
            }
            .icon {
                padding-left: 60px;
                background: url('/img/column_check.png') no-repeat 20px 50%;
            }
            .hide{
                color: #f26522;
            }
        }        
    }
    @media (max-width: $screen-sm-max) {
            margin-bottom: 100px;
            &_wraper{
                flex-direction: column;
                &_colum{
                    width: 100%;
                    margin: 0 0 10px; 
                }
                
            }
    }
}
// ----- /Colums ----- //

// ----- Subscribe ----- //
.section-subscribe{
    margin-bottom: 100px;
    background: url('/img/sections_submit_right_bottom.png') no-repeat right bottom/30%, url('/img/header_bground.png') repeat;
    &_wraper{
        color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title {
            padding-top: 150px;
            font-size: 50px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 10px;
        }
        &_subtitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 40px;
        }
        @include form__input_and_button();
        .form_input {
            background: url('/img/icon_email.png') no-repeat 20px 50%;
            input{
                margin-left: 60px;
                padding-left: 0;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        margin-bottom: 50px;
        &_wraper{
            &_title {
                padding-top: 50px;
            }
        }
        .form_input {
            background: none;
            input{
                background: url('/img/icon_email.png') no-repeat 5px 50%/10%;
                margin-left: 0;
                padding-left: 30px;
            }
        }

    }
    
}
// ----- /Subscribe ----- //

// ----- Form_sub ----- //
.section-form_sub{
    background: url('/img/Vector_Smart_Object.png') bottom left/40% no-repeat;
    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_offer{
            box-shadow: 0 0 24px rgba(64, 199, 255, 0.32);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            margin-right: 30px;
            &_title{
                padding: 60px 30px 20px; 
                color: #f26522;
                font-size: 36px;
                font-weight: 500;
                line-height: 50px;
                margin-bottom: 20px;
            }
            &_subtitle{
                color: #707070;
                padding: 0 30px;
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
                margin-bottom: 50px;
                text-align: center;
            }
            &-forms{
                display: flex;
                flex-direction: column;
                width: 100%;
                &_input{
                    flex-grow: 1;
                    input{
                        width: 100%;
                        padding: 20px;
                        border: 1px solid #e0e6e6;
                        background-color: #ffffff;
                        &::placeholder{
                            color: #bdbdbd;
                        }
                    }
                    margin-bottom: 35px;
                    padding: 0 40px;
                }
                &_button{
                    flex-grow: 1;
                    button{
                        font-size: 18px;
                        font-weight: 500;
                        color: #ffffff;
                        border: none;
                        background-color: #f26522;
                        width: 100%;
                        padding: 20px;
                    }
                    padding: 0 40px;
                    margin-bottom: 130px;
                }
            }
        }
        &_submit{
            width: 60%;
            padding: 30px;
            display: flex;
            box-shadow: 0 0 24px rgba(64, 199, 255, 0.32);
            background-color: #ffffff;
            flex-direction: column;
            margin-bottom: 105px;
            &_title{
                color: #333333;
                font-size: 30px;
                font-weight: 500;
                line-height: 60px;
            }
            &-form{
                display: flex;
                flex-direction: column;
                &_name,
                &_emeil,
                &_number,
                &_subject,
                &_messege {
                    flex-grow: 1;
                    input, textarea {
                        width: 100%;
                        padding: 20px;
                        margin-bottom: 20px;
                        border: 1px solid #cff0ff;
                        &::placeholder {
                            color:#b7b7b7;
                        }
                    }
                }
            }
            &_button{
                width: 30%;
                margin-left: 70%;
                button{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                    background-color:  #f26522;
                    border: none;
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        &_wrapper{
            flex-direction: column;
            &_offer{
                width: 100%;
                margin-right: 0;   
                &_title{
                    text-align: center;
                }
            }
            &_submit{
                width: 100%;
                &_button{
                    width: 45%;
                    margin-left: 55%;
                }
        
            }
        }
    }    
}
// ----- /Form_sub ----- //

// ----- Footer ----- //
.section-footer{
    &_copyright{
        background-color: #1e1e1e;
        color: #bdbdbd;
        font-size: 16px;
        font-weight: 400;
        padding: 40px 0;
        text-align: center;
    }
    @media (max-width: $screen-sm-max) {
        &_copyright{
            font-size: 12px;
        }
    }
    
}
// ----- /Footer ----- //
